*{
    padding:0;
    margin: 0;
}

h1, h2{
    font-family: $primary-font;
    text-align: center;
    font-weight: 100;
}

h3, h4, h5, p, a{
    font-family: $primary-font;
    text-align: center;
    font-weight: 100;
}

button {
    outline: none;
}


// Display
.inline {
display: inline;
}

// Movement 

.text_centered {
    text-align: center;
}


hr {
    margin: 10px 0;
}