<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/main.css" rel="stylesheet">
    <title>InformMe Website</title>
</head>
<body>
        <!-- Sidebar/menu --> 
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" id="mySidebar"><br>
        <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <br><br>
        <h3><b>InformMe</b></h3>
        <p class="w3-text-grey">Spread the findings</p>
        </div>
        <div class="w3-bar-block">
        <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Search through the events</a> 
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a> 
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
        </div>
        </div>
    </nav>
    
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">
    
        <!-- Header -->
        <header id="portfolio">
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-container">
        <h1><b>InformMe</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16">
            <span class="w3-margin-right">Filter:</span> 
            <button class="w3-button w3-black">ALL</button>
            <button class="w3-button w3-white"><i class="fa fa-users" aria-hidden="true"></i>Humans</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-paw" aria-hidden="true"></i>Animals</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-car" aria-hidden="true"></i>Objects</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-question-circle" aria-hidden="true"></i>Other</button>
        </div>
        </div>
        </header>
        
        <!-- First Photo Grid-->
        <div class="w3-row-padding">


            <div class="w3-card-4 card_container">
                    <header class="w3-container w3-light-grey">
                        <h3>Lost</h3>
                    </header>
                    <div class="main_card_info text_centered">
                        <div>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <p class="inline"> 5th of August</p>
                        </div>
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <p class="inline"> Starovilenska 51</p>
                            <hr>
                        </div>
                        <p>I lost my cat lost its head. It is a very weird story but idk lol wow cool.</p><br>
                    </div>
                    <button class="w3-button w3-block w3-dark-grey">+ Connect</button>
                </div>


               <div class="w3-card-4 card_container">
                   <header class="w3-container w3-light-grey">
                       <h3>Lost</h3>
                   </header>
                   <div class="main_card_info text_centered">
                       <i class="fa fa-map-marker" aria-hidden="true"></i>
                       <p class="inline"> Starovilenska 51</p>
                       <hr>
                       <p>I lost my cat lost its head. It is a very weird story but idk lol wow cool.</p><br>
                   </div>
                   <button class="w3-button w3-block w3-dark-grey">+ Connect</button>
                </div>
                <div class="w3-card-4 card_container">
                    <header class="w3-container w3-light-grey">
                        <h3>Lost</h3>
                    </header>
                    <div class="main_card_info text_centered">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p class="inline"> Starovilenska 51</p>
                        <hr>
                        <p>I lost my cat lost its head. It is a very weird story but idk lol wow cool.</p><br>
                    </div>
                    <button class="w3-button w3-block w3-dark-grey">+ Connect</button>
                 </div>
            </div>
        
    


        </div>
    
        <!-- Pagination -->
        <div class="w3-center w3-padding-32">
        <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
        </div>
        </div>

       <!--Footer -->
        <div class="w3-black w3-center w3-padding-24">Made by <a href="#cotocoders" title="W3.CSS" target="_blank" class="w3-hover-opacity">CotoCoders</a></div>
    
    <!-- End page content -->
    </div>

    <script src="http://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script>
        $.getJSON('json/example.json', function (data) {
            var items = [];
            var id = "";
            $.each( data, function( key, val ) {
                if(key == 'id'){
                    id = key;
                }else if( key == 'when') {
                    items.push( "<li id='" + key + "'>" + val + "</li>" );
                }
                
            });

            $( "<ul/>", {
                "class": "w3-card-4 card_container",
                "id": id,
                html: items.join( "" )
            }).appendTo( "body" );
            });
    </script>
</body>
</html>